<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New page</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form action="/users/request" method="post">
          <div class="row">
            <label for="username">Username:</label>
            <input name="username" type="text" />
          </div>

          <div class="row">
            <label for="password">Password:</label>
            <input name="password" type="password" />
          </div>

          <div class="row">
            <input type="submit" value="Request" class="button-primary" />

            <a href="/">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
